html, body{
    margin: 0;
    padding: 0; 
}

/*****HEADER****/

.header{
    background-color: #FFFF00;
    padding-bottom: 100px; 
    margin-bottom: 100px; 
}

.coverImage{
    width: 70%; 
    height: auto;
    margin-bottom: 100px; 

    display: block;
    margin-left: auto;
    margin-right: auto; 

}

.schoolDescription{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header p,h2{
    text-align: center; 

}

.header h2{
    font-size: 40px; 

}

.header p{
    font-size: 20px; 
}

.enrollButton {
    color: white; 
    font-size: 15px; 
    background-color: #0000FF;
    padding: 10px 15px;  
    margin-top: 50px; 
    
}


/******BODY********/

p {
    text-align: justify;
}

.imagesContainer p {
    margin: 20px;
    margin-left: 5px;  
}

.title {
    text-align: center;
}

.imagesContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px; 
    margin-bottom: 200px; 
}


.kindergartenerImages{
    width: 95%;
    height: 60%;
}

.imagesContainer img:hover {
    border: 5px solid #0000FF;
}